In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train_1.csv")
df

           fever  bodypain   age  runnynose  diffbreath  infected
0      99.271861       1.0  13.0        0.0         0.0         0
1      99.379623       1.0  57.0        1.0        -1.0         0
2     101.799244       1.0  39.0        0.0         0.0         0
3     102.672971       0.0  35.0        0.0         0.0         0
4     102.874816       1.0  24.0        1.0         0.0         0
...          ...       ...   ...        ...         ...       ...
1327  101.671891       1.0  33.0        1.0        -1.0         1
1328  101.673979       1.0  38.0        0.0         1.0         1
1329   99.804430       1.0  76.0        0.0        -1.0         1
1330   98.565582       1.0  62.0        1.0        -1.0         1
1331  101.235846       0.0  14.0        1.0         0.0         0

[1332 rows x 6 columns]

In [3]:
df.groupby('infected').infected.count()

infected
0    661
1    671
Name: infected, dtype: int64

In [4]:
df1 = df.groupby('infected').apply(lambda x: x.sample(400)).reset_index(drop=True)
df2 = df1.sample(frac = .6)
frames = [df1,df2]
df3 =pd.concat(frames)
export_csv = df3.to_csv (r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-1\subtrain-1.csv', index = None, header=True)
df3.groupby('infected').infected.count()

infected
0    638
1    642
Name: infected, dtype: int64

In [5]:
df1 = df.groupby('infected').apply(lambda x: x.sample(400)).reset_index(drop=True)
df2 = df1.sample(frac = .6)
frames = [df1,df2]
df3 =pd.concat(frames)
export_csv = df3.to_csv (r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-1\subtrain-2.csv', index = None, header=True)
df3.groupby('infected').infected.count()

infected
0    652
1    628
Name: infected, dtype: int64

In [6]:
df1 = df.groupby('infected').apply(lambda x: x.sample(400)).reset_index(drop=True)
df2 = df1.sample(frac = .6)
frames = [df1,df2]
df3 =pd.concat(frames)
export_csv = df3.to_csv (r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-1\subtrain-3.csv', index = None, header=True)
df3.groupby('infected').infected.count()

infected
0    640
1    640
Name: infected, dtype: int64