In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train_3.csv")
df

           fever  bodypain   age  runnynose  diffbreath  infected
0      99.329862       0.0  26.0        1.0        -1.0         0
1      98.115263       1.0  61.0        1.0         0.0         1
2      99.918088       1.0  13.0        0.0        -1.0         0
3     101.344456       1.0  55.0        1.0         0.0         1
4     100.056678       1.0  37.0        0.0         1.0         0
...          ...       ...   ...        ...         ...       ...
1328  102.692603       0.0  63.0        0.0         0.0         1
1329  100.074149       0.0  42.0        1.0        -1.0         1
1330   99.592285       0.0  80.0        1.0         1.0         1
1331  101.050530       1.0  17.0        0.0         0.0         1
1332  101.444330       1.0  54.0        0.0         0.0         1

[1333 rows x 6 columns]

In [3]:
df.groupby('infected').infected.count()

infected
0    662
1    671
Name: infected, dtype: int64

In [4]:
df1 = df.groupby('infected').apply(lambda x: x.sample(400)).reset_index(drop=True)
df2 = df1.sample(frac = .6)
frames = [df1,df2]
df3 =pd.concat(frames)
export_csv = df3.to_csv (r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-3\subtrain-1.csv', index = None, header=True)
df3.groupby('infected').infected.count()

infected
0    645
1    635
Name: infected, dtype: int64

In [5]:
df1 = df.groupby('infected').apply(lambda x: x.sample(400)).reset_index(drop=True)
df2 = df1.sample(frac = .6)
frames = [df1,df2]
df3 =pd.concat(frames)
export_csv = df3.to_csv (r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-3\subtrain-2.csv', index = None, header=True)
df3.groupby('infected').infected.count()

infected
0    648
1    632
Name: infected, dtype: int64

In [6]:
df1 = df.groupby('infected').apply(lambda x: x.sample(400)).reset_index(drop=True)
df2 = df1.sample(frac = .6)
frames = [df1,df2]
df3 =pd.concat(frames)
export_csv = df3.to_csv (r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-3\subtrain-3.csv', index = None, header=True)
df3.groupby('infected').infected.count()

infected
0    638
1    642
Name: infected, dtype: int64